@import '@comfyorg/design-system/css/style.css';

#desktop-app {
  position: absolute;
  inset: 0;
}

.p-button-secondary {
  border: none;
  background-color: var(--color-neutral-600);
  color: var(--color-white);
}

.p-button-secondary:hover {
  background-color: var(--color-neutral-550);
}

.p-button-secondary:active {
  background-color: var(--color-neutral-500);
}

.p-button-danger {
  background-color: var(--color-coral-red-600);
}

.p-button-danger:hover {
  background-color: var(--color-coral-red-500);
}

.p-button-danger:active {
  background-color: var(--color-coral-red-400);
}

.task-div .p-card {
  transition: opacity var(--default-transition-duration);
  --p-card-background: var(--p-button-secondary-background);
  opacity: 0.9;
}

.task-div .p-card:hover {
  opacity: 1;
}
